@import '../../styles/global/colors.scss';

.projects {
  padding: 15rem 0;
  background-color: $grey-bg-color;

  .container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;

    .content {
      display: flex;
      flex-direction: column;

      h3 {
        color: $header-color;
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      h4 {
        color: $title-color;
        font-size: 2.5rem;
        margin-bottom: 6rem;
      }

      .projects-grid {
        grid-gap: 5rem;
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: auto;
        width: 100%;
      }
    }
  }
}
