@import '../../styles/colors.scss';

.portfolio {
  padding: 15rem 0;
  background-color: $grey-bg-color;

  @media (max-width: 1024px) {
    padding: 8rem 0;
  }

  .portfolio-container {
    margin: 0 auto;
    max-width: 107rem;
    width: 60%;

    @media (max-width: 1024px) {
      width: 90%;
    }

    .portfolio-content {
      display: flex;
      flex-direction: column;

      @media (max-width: 1024px) {
        text-align: center;
      }

      .portfolio-grid {
        grid-gap: 5rem;
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
      }
    }
  }
}
