@import '../../styles/colors.scss';

.pro-card {
  display: flex;
  background-color: white;
  box-shadow: 0 0 0.625rem rgb(0 0 0 / 10%);
  border-radius: 0.313rem;

  &__1 {
    height: 40rem;
    flex-direction: row;
    padding: 2rem;
    gap: 1rem;

    @media (max-width: 1024px) {
      height: 75rem;
      flex-direction: column !important;
      gap: 3rem;
      width: fit-content;
      margin: 0 auto;
    }
  }

  &__image {
    width: 53rem;
    height: auto;
    border-radius: 1.7rem;
    background-color: #76767633;
    overflow: hidden;
    box-shadow: 0 0 0.625rem rgb(0 0 0 / 10%);

    @media (max-width: 640px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    display: flex;
    height: auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;

    @media (max-width: 1024px) {
      margin: 0 auto;
      width: 40rem;
    }

    @media (max-width: 640px) {
      width: 100%;
      width: 30rem;
    }

    h3 {
      color: $header-color;
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    p {
      color: $text-color;
      font-size: 1.7rem;
      font-weight: 500;
      text-align: center;
      text-transform: none;
    }

    .stack {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 1rem;
      width: 100%;
      flex-wrap: wrap;

      img {
        margin-top: 0.313rem;
        border-radius: 0.313rem;
      }
    }
  }

  .links {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 10%;

    a {
      color: $title-color;
      font-size: 1.7rem;
      font-weight: 500;
      gap: 0.313rem;
      text-decoration: none;
      align-items: center;
      display: flex;

      i {
        font-size: 2.8rem;
      }

      img {
        width: 3.5rem;
      }

      &:hover {
        color: $header-color;
        transition: all 0.3s;
      }
    }
  }
}
