@import '../../styles/colors.scss';

.experience {
  padding: 15rem 0;

  @media (max-width: 1024px) {
    padding: 8rem 0;
  }

  .exp-container {
    margin: 0 auto;
    max-width: 107rem;
    width: 60%;

    @media (max-width: 640px) {
      width: 90%;
    }

    .exp-item-container {
      display: flex;
      flex-direction: column;
    }
  }
}
