@import '../../styles/colors.scss';

.experience {
  padding: 15rem 0;

  background-image: url('../../assets/spacer.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 1024px) {
    padding: 8rem 0;
  }

  .exp-container {
    margin: 0 auto;
    max-width: 107rem;
    width: 60%;

    @media (max-width: 1024px) {
      width: 90%;
    }

    .exp-item-container {
      display: flex;
      flex-direction: column;
    }
  }
}
